.wizard{
    width: 100vw;
    display: inline-flex;
}

app-sidebar{
    min-width: 300px;
    min-height: 90vh;
    display: flex;
}
app-note-body{
    width: 100%;
    min-height: 90vh;
    display: flex;
}